{% extends "teetrend.html" %}
{% block title %}Cart{% endblock  %}
{% load static %}
{% block content %}
<div class="modal-body">
  <div class="wish-messages"></div>
</div>
{% comment %} {% if 'user_id' in request.session %}
{% if tshirt %}
  <div class="wishlist-count-value">
    <span>No. of items : {{ count }}</span>
  </div>
{% endif %}
{% endif %} {% endcomment %}
<div class="wishcart-section close-menu">
  {% if 'user_id' in request.session %}
  {% for tshirt in cart.tshirts.all %}
  <div class="product-wishcart-col">
    <div class="wish-cart-card">
      <div class="wish-cart-card-image">
        <!-- Display top image with a link to t-shirt overview page -->
        <img src="{{ tshirt.image.url }}" alt="{{ tshirt.name }}" class="card-top-img" id="card-img{{ forloop.counter }}" onclick="window.open('{% url 'tshirt_detail' tshirt.id  %}?category={{ tshirt.category }}', '_blank')">
        <div class="wish-cart-remove-icon js-cart-remove-icon" data-tshirt-id="{{ tshirt.id }}">
          <span>X</span>
        </div>
        <div class="rating-review">
          <span>4.3</span>
          <span class="rating-star"><a class="fa fa-star" href="#"></a></span>
          <span class="cross-linebreaks">|</span>
          <span>750</span>
        </div>
      </div>
      <div class="wish-cart-card-body p-2" onclick="window.open('{% url 'tshirt_detail' tshirt.id  %}?category={{ tshirt.category }}', '_blank')">
        <!-- Link to t-shirt overview page for product title and description -->
        <p class="product-title ">{{ tshirt.title }}</p>
        <p class="product-name" title="{{ tshirt.name }}">{{ tshirt.name|truncatechars:35 }}</p>
        <!-- Link to t-shirt overview page for product price, and discount -->
        <div class="product-price-details">
          <p class="product-price">&#8377;{{ tshirt.price }}</p>
          <p class="product-retail-price">MRP <del>1400</del></p>
          {% if tshirt.discount %}
          <p class="product-discount">({{ tshirt.discount }}% OFF)</p>
          {% endif %}
        </div>
        <hr class="dropdown-divider">
        <div class="buy-the-item">
          <button class="buy-the-item-btn" onclick="location.href='{% url "home" %}'">Buy</button>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="the-empty-wishcart">
    <div class="empty-wishcart">
      <span class="empty-wish-cart-hd">your cart is empty</span>
      <span class="empty-wish-cart-pg">Add items that you like to your cart. Review them anytime and easily buy this items.</span>
      <div class="empty-wish-cart-img">
        <img src="{% static "images/wishlist-icon-gif.gif" %}" alt="wishlist-gif">
      </div>
      <button class="wish-cart-shop-btn" onclick="location.href='{% url "home" %}'">continue shopping</button>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="the-login-wishcart">
    <div class="login-wishcart">
      <span class="login-wish-cart-hd">Please log in</span>
      <span class="login-wish-cart-pg">Login to view items in your wishlist</span>
      <div class="login-wish-cart-img">
        <img src="{% static "images/wishlist-icon-gif.gif" %}" alt="wishlist-gif">
      </div>
      <button class="wish-cart-login-btn" onclick="location.href='{% url "sign_in" %}'">login</button>
    </div>
  </div>
  {% endif %}
</div>
{% endblock  %}