@media (min-width: 992px) {
  .account-settings {
    margin: 50px 150px;
  }
  .profile-card {
    padding: 42px 100px;
  }
  .td span {
    width: 200px;
  }
  .td {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}
@media  (max-width: 992px) {
  .account-settings {
    margin: 10px 10px;
  }
  .profile-card {
    padding: 5px 10px;
  }
}
@media (min-width: 472px) and (max-width: 992px) {
  .td {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}
@media (min-width: 0px) and (max-width: 472px) {
  .td span {
    display: inline-block;
    width: 100px;
  }
  .td {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
  }
}
.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.col {
  padding: 0;
}
.profile-infoTable {
  display: flex;
  flex-direction: column;
}
.profile-overview {
  display: none;
}
#profile-overviewButton {
  cursor: pointer;
}
.hd {
  font-size: 12px;
  color: rgb(192, 192, 192);
  text-align: center;
}