@media (min-width: 992px) {
  .account-settings {
    margin: 5% 10%;
    padding: 4%;
  }
  .profile-card {
    padding: 5%;
    margin: 3% 2%;
  }
  .td span {
    width: 200px;
  }
  .td {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }
  .tees-row {
    display: flex;
    flex-direction: column;
  }
  .hd-link-desktop-logout {
    display: block;
  }
 .hd-link-logout {
    display: none;
  }
  .hd-delete-account {
    width: 25%;
  }
}
@media  (max-width: 992px) {
  .account-settings {
    margin: 0 4%;
    padding: 3% 3% 0;
  }
  .profile-card {
    padding: 5%;
  }
  .profile-infoTable {
    padding: 5px 10px;
  }
  .tees-row {
    display: flex;
    justify-content: space-between;
  }
  .tees-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .hd {
    display: none;
  }
  .hd-overview , .hd-link {
    display: block;
    text-align: center;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgb(204, 204, 204);
    padding: 5px 10px;
    border-radius: 2px;
  }
  .hd-link-logout {
    display: block;
  }
  .hd-link-desktop-logout {
    display: none;
  }
  .hd-delete-account {
    width: 100%;
  }
}
@media (min-width: 472px) and (max-width: 992px) {
  .td {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
  }
}
@media (min-width: 0px) and (max-width: 472px) {
  .td span {
    display: inline-block;
    width: 100px;
  }
  .td {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
  }
}
.no-gutters {
  padding-left: 0;
  padding-right: 0;
}
.col {
  padding: 0;
}
.profile-card {
  overflow-x: auto;
  overflow-y: hidden;
  overflow: scroll;
  border: 1px solid rgb(255, 230, 6);
}
.profile-card::-webkit-scrollbar {
  display: none;
}
.profile-infoTable {
  display: flex;
  flex-direction: column;
}
.profile-overview {
  display: none;
}
#profile-overviewButton {
  cursor: pointer;
}
.hd-overview {
  font-size: 12px;
  text-decoration: none;
  color: rgb(30, 30, 30);
}
.hd {
  width: 100%;
  font-size: 10px;
  color: rgb(118, 115, 115);
  margin-bottom: 8px;
}
.hd-link-logout {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(197, 197, 197);
  font-size: 12px;
  font-weight: 900;
  color: rgb(42, 42, 42);
  text-decoration: none; 
  margin: 15px 0 !important;
}
.hd-link-desktop-logout {
  width: fit-content;
  font-size: 12px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  text-decoration: none; 
  margin-bottom: 5px;
}
.hd-delete-account {
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgb(197, 197, 197);
  font-size: 12px;
  font-weight: 900;
  color: rgb(42, 42, 42);
  text-decoration: none; 
  margin: 15px 0;
} 
.hd-link {
  font-size: 12px;
  font-weight: 500;
  color: rgb(42, 42, 42);
  text-decoration: none; 
  margin-bottom: 5px;
}