@media (min-width: 992px) {
  .sign-in-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sign-in {
    width: 50%;
    margin: 50px;
  }
}
@media (max-width: 992px) {
  .sign-in-section {
    display: flex;
    flex-direction: column;
    align-items: normal;
    width: 100%;
  }
  .sign-in {
    width: 100%;
    margin: 50px 0;
  }
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sign-in {
  padding: 30px 30px;
}
.sign-in:hover {
  box-shadow: 1px 1px 5px rgb(213, 213, 213);
}
.sign-in h5 {
  /* color: rgb(213, 26, 26); */
  text-align: center;
  font-weight: 900;
  font-size: 14px;
}
.sign-in-form {
  margin-top: 20px;
}
.btn-in {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 700;
  padding: 2px 7px 5px;
  border: none;
  color: rgb(0, 0, 0);
  background-color: white;
}
.btn-in:hover {
  background-color: rgb(1, 165, 1);
  color: white;
  border-radius: 2px;
}
.messages {
  list-style-type: none;
}
.forgot-password {
  font-size: 12px;
  font-weight: 700;
  text-align: end;
  margin: 10px;
}
.forgot-password a {
  color: red;
}
.asteriskField {
  display: none;
}
.form-label {
  font-size: 14px;
  font-weight: 500;
  font-family: inherit !important;
  margin-left: 10px;
}
.form-control {
  font-size: 14px !important;
  font-weight: 500 !important;
  font-family: inherit !important;
}
.form-control:focus {
  box-shadow: none !important;
  background-color: white !important;
}