body {
  margin: 0 !important;
  padding: 0 !important;
}
.mb-categories-list {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px rgb(231, 231, 231);
  background-color: white;
}
.mb-cat-list {
  padding: 8px 16px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}
.cat-active {
  border-bottom: 3px solid rgb(0, 174, 0);
}
.cat-icon {
  background-color: rgb(255, 213, 0);
}
.mb-cat-list-items {
  margin: 30px 0 50px;
}
.cat-list {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-items {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}
.cat-items {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}
.cat-items img {
  width: 100%;
  padding: 5px;
}
.view-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 10px 15px;
  font-size: 12px;
  font-weight: 500;
}
.all-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 10px;
  font-weight: 700;
  background-color: rgb(63, 63, 63);
  color: white;
  padding: 22px 10px;
  margin-bottom: 12px;
  border-radius: 50%;
}
#womens-cat-list {
  display: none;
}