/* Product Catalog section */
/* Styling for card container */
.breadcrumb-base {
  width: fit-content;
  padding: 20px 0 0 0;
  margin: 0;
}
.card {
  transition: all ease 0.2s;
  cursor: pointer;
}
/* Card hover effect with scaling, shadow, and border-radius */
.card:hover {
  box-shadow: 0 0 3px rgb(158, 158, 158);
}
/* Styling for the top image within the card */
.card-top-img {
  width: 100%;
  cursor: pointer;
  transition: all ease 1s;
}
.card-image {
  position: relative;
}
.rating-review {
  position: absolute;
  bottom: 7px;
  left: 8px;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  background-color: #ffffffe6;
}
.cross-linebreaks {
  font-size: 14px;
  font-weight: normal;
  padding: 0 3px 0 8px !important;
  margin: 0 !important;
}
/* Styling for card top image display */
.card .card-top-img {
  display: block;
}
.carousel-indicators {
  background-color: white;
  margin: 0 !important;
}
/* Styling for carousel indicators */
.carousel-indicators button {
  width: 5px !important;
  height: 5px !important;
  margin: 0 5px 0 5px !important;
  border-radius: 50% !important;
  background-color: #818181 !important;
}
/* Styling for active carousel indicator */
.carousel-indicators .active {
  background-color: #ff0000 !important;
}
/* Hover effect on product details */
.product-wishlist:hover , .product-user-wishlist:hover {
  color: black;
  border: 1px solid rgb(0, 0, 0) !important;
}
/* Hide elements initially */
.product-wishlist , .product-size , .product-user-wishlist {
  display: none;
}
/* Styling for product wishlist icon and text */
.product-wishlist span , .product-wishlist svg , .product-user-wishlist span , .product-user-wishlist svg {
  margin: 5px 10px;
}
/* Product Catalog overview */
/* Styling for breadcrumb navigation */
.breadcrumb-nav {
  padding: 20px 20px 0;
  margin: 0;
}
/* Styling for breadcrumb items */
.breadcrumb-item {
  font-size: 14px;
  font-weight: 700;
  padding: 0 !important;
}
/* Styling for breadcrumb links */
.breadcrumb-item a {
  text-decoration: none;
  font-weight: normal;
  margin: 0 2px !important;
  color: rgb(84, 84, 84);
}
/* Styling for active breadcrumb item */
.breadcrumb-item.active {
  color: black !important;
}
.breadcrumb-item::before {
  padding: 0 !important;
}
/* Styling for product overview section */
.tees-product-overview {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* Styling for desktop view product images */
.tees-desktop-view-product-images {
  width: 50%;
}
/* Styling for image rows within the product catalog */
.tees-image-row {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* Styling for image colums within the product catalog */
.tees-images-col {
  width: 50%;
  height: 500px;
  margin: 1%;
  overflow: hidden;
}
/* Styling for images in the product catalog */
.tees-images {
  width: 100%;
  object-fit: cover;
  height: 500px;
  cursor: zoom-in;
}
/* Hover effect on images */
.tees-images:hover {
  transform: scale(1.05);
  transition: transform ease-in-out 0.8s;
}
/* The Modal */
/* Styling for the modal container */
.tees-desktop-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: hidden;
  background-color: rgba(0, 0, 0, 0.782);
}
/* Styling for the modal content */
.tees-desktop-modal-content {
  position: relative;
  margin: 70px auto;
  display: block;
  width: 100%;
  max-width: 982px;
  height: 100%;
  box-shadow: 1px 1px 5px rgb(255, 255, 255);
  overflow-x: hidden; 
  scrollbar-width: none;
}
/* Styling for the thumbnail container */
.tees-desktop-modal-image-thumbnail {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 0;
  z-index: 1000;
}
 /* Styling for each thumbnail button */
.tees-desktop-modal-image-thumbnail-button {
  border: 1px solid white;
  background: none;
  margin: 5px;
  padding: 0;
}
/* Styling for each thumbnail images */
.desktop-image-zoom-thumbnail {
  width: 40px;
  height: 50px;
  object-fit: cover;
}
/* Styling for the selected thumbnail button */
.tees-desktop-modal-image-thumbnail-button.selected {
  border: 1px solid #f00;
}
.tees-images:active .tees-desktop-modal-image-thumbnail-button {
  border: 1px solid green;
}
/* Styling to hide the scrollbar in the image container */
.tees-dessktop-modal-content-images::-webkit-scrollbar {
  display: none;
}
/* Styling for the image container */
.tees-dessktop-modal-content-images {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 982px;
  margin: auto;
  display: block;
  height: auto;
  cursor: all-scroll;
  overflow-y: scroll;
}
/* Styling for the modal image */
.tees-desktop-modal-image {
  width: 100%;
  display: block;
}
/* Styling for the Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
/* Styling for the close icon */
.fa-window-close {
  color: #000000;
  font-size: 30px !important;
  font-weight: bold;
  transition: 0.3s;
  z-index: 10;
}
/* Styling for the close button on hover or focus */
.close:hover, .close:focus {
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}
/* close button hover effect on close icon */
.close:hover .fa-window-close {
  color: rgb(100, 100, 100);
  z-index: 10;
}
/* Styled the carousels for a better mobile viewing experience */
/* Set the width of the entire carousel to 100% */
.carousel {
  width: 100%;
}
/* Set the width of the carousel inner container to 100% */
.carousel-inner {
  width: 100%;
}
/* Set the width of the carousel inner container to 100% */
.carousel-item {
  width: 100%;
}
/* Set the width of individual carousel items to 100% */
.carousel-img {
  width: 100%;
  display: block;
  height: 300px;
}
/* Styling for product ratings section */
.product-ratings {
  width: 185px;
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
  border: 1px solid black;
  cursor: pointer;
}
/* Styling for rating divider */
.col {
  flex: 0 0 0% !important;
  height: auto;
  border-right: 1px solid black;
}
/* Styling for ratings value */
.ratings-value {
  width: 70px;
  display: flex;
  margin: 0;
  font-size: 17px;
  padding: 0 10px;
  font-weight: 900;
}
/* Styling for ratings value text */
.ratings-value p {
  margin: 0;
}
/* Styling for number of ratings */
.no-of-ratings {
  width: 120px;
  margin: 0;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 700;
} 
/* Styling for star icon */
.fa-star {
  text-decoration: none;
  color: green;
}
/* Styling for rating star list */
.rating-ov-star {
  list-style-type: none;
  margin-left: 3px;
}
/* Styling for dropdown divider */
.dropdown-divider {
  margin: 12px 0 !important;
}
/* Styling for product price details section */
.product-ov-price-details {
  padding: 1%;
}
/* Styling for price overview section */
.price-ov {
  display: flex;
}
/* Styling for product price */
.product-ov-price {
  font-weight: 800;
  margin-right: 5px;
}
/* Styling for retail price */
.product-ov-retail-price {
  margin-left: 5px;
  margin-right: 5px;
}
/* Styling for product discount percentage */
.product-ov-discount {
  font-weight: 700;
  color: rgb(255, 143, 52);
  margin-left: 5px;
}
/* Styling for taxes information */
.taxes {
  font-weight: 500;
  color: rgb(1, 159, 1);
}