{% extends "account.html" %}
{% block title %}Account{% endblock %}

{% block content %}

{% load static %}
<body>
  <div class="container">
    <div class="account-settings">
      {% if accts %}
      <div class="row">
        <h6 class="fw-bold m-0">Account</h6>
        <p>{% if accts.full_name %} {{ accts.full_name }} {% else %}- not added -{% endif %}</p>
        <hr style="border-top: 1px solid black; margin: 0;">
        <div class="col-lg-2 no-gutters">
          <div class="tees-row">
            <div class="col tees-info no-gutters px-2 py-4">
              <a class="hd-overview" href="#">Overview</a>
            </div>
            <hr class="tees-divider-bottom" style="border-top: 1px solid black; margin: 0;">
            <div class="tees-divider-right" style="border-right:1px solid black"></div>
            <div class="col tees-info no-gutters px-2 py-4">
              <p class="hd">ORDERS</p>
              <a class="hd-link" href="#">Orders & Returns</a>
            </div>
          </div>
          <hr style="border-top: 1px solid black; margin: 0;">
          <div class="tees-row">
            <div class="col tees-info no-gutters px-2 py-4">
              <p class="hd">ACCOUNT</p>
              <a href="{% url "account" %}" class="hd-link">Profile</a>
            </div>
            <hr class="tees-divider-bottom" style="border-top: 1px solid black; margin: 0;">
            <div class="tees-divider-right" style="border-right:1px solid black"></div>
            <div class="col tees-info no-gutters px-2 py-4">
              <p class="hd">LEGAL</p>
              {% comment %} <a href="#" class="hd-link">Term of Use</a> {% endcomment %}
              <a href="#" class="hd-link">Privacy Policy</a>
            </div>
          </div>
          <hr style="border-top: 1px solid black; margin: 0;">
          <div class="tees-row">
            <div class="col tees-info no-gutters px-2 py-4">
              <p class="hd"></p>
              <a href="{% url "logout" %}" class="hd-link-desktop-logout">Sign Out</a>
            </div>
          </div>
        </div>
        <div class="col no-gutters" style="border-right:1px solid black"></div>
        <div class="col-lg-9 no-gutters">
          <div class="profile-card overflow-scroll overflow-x-auto border border-1 border-warning m-3">
            <h4>Profile Details</h4>
            <hr style="border-top: 1px solid black;">
            <div class="profile-infoTable">
              <div class="td"><span>Full Name </span>
                <span>{% if accts.full_name %}{{ accts.full_name }}{% else %}- not added -{% endif %}</span></div>
              <div class="td"><span>Username </span>
                <span>{% if accts.username %}{{ accts.username }}{% else %}- not added -{% endif %}</span></div>
              <div class="td"><span>Email </span>
                <span>{% if accts.email %}{{ accts.email }}{% else %}- not added -{% endif %}</span></div>
              <div class="td"><span>Phone Number </span>
                <span>{% if accts.phone_number %}{{ accts.phone_number }}{% else %}- not added -{% endif %}</span></div>
              <div class="td"><span>Address </span>
                <span>{% if accts.address %}{{ accts.address }}{% else %}- not added -{% endif %}</span></div>
              <div class="td"><span>Date Of Birth </span>
                <span>{% if accts.birth_date %}{{ accts.birth_date }}{% else %}- not added -{% endif %}</span></div>
              <button class="btn btn-danger my-3 py-2" onclick="location.href='{% url "edit_profile" %}'" id="editButton">Edit</button>
            </div>
          </div>
        </div>
        <a href="{% url "logout" %}" class="hd-link-logout">Sign Out</a>
      </div>
      {% else %}
      <Button class="btn btn-success" onclick="location.href='{% url "sign_in" %}'">Sign In</Button>
      {% endif %} 
    </div>
  </div>
</body>
{% endblock %}