{% extends "account.html" %}
{% block title %}Account{% endblock %}

{% block content %}

{% load static %}
<div class="container">
  <div class="account my-3">
    <h4>Welcome Account</h4>
    <div class="account_details">
      <div class="account_section">
        <h5>Account Section</h5>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
        </ul>
      </div>
      <div class="details">
        <h5>Account Details</h5>
        {% if 'user_id' in request.session %}
        <div>
          <p>Username : {{ accts.username }}</p>
          <p>Email : {{ accts.email }}</p>
          <p>Phone Number : {{ accts.phone_number }}</p>
          <p>Password : {{ accts.password }}</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}