{% extends "account.html" %}
{% block title %}Account{% endblock %}

{% block content %}

{% load static %}
<div class="container">
  <div class="account my-3">
    <h4>Welcome Account</h4>
    <div class="account_details">
      <div class="account_section">
        <h5>Account Section</h5>
        <ul>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>5</li>
          <li>6</li>
        </ul>
      </div>
      <div class="details">
        <h5>Account Details</h5>
        <div>
          <p>1</p>
          <p>2</p>
          <p>3</p>
          <p>4</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}