{% extends "user-sign.html" %}
{% block title %}Account | Sign In{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
  <div class="sign-in-section">
    <div class="sign-in">
      <a class="navbar-brand fw-bold text-primary fs-2 ms-5" href="{% url "home" %}">T<span class="text-warning">&#600;&#600;</span>Trend</a>
      <h5>SIGN IN</h5>
      <form class="sign-in-form" action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success fw-bold">Send OTP</button>
        <p class="ms-2 my-2">New to TeeTrend? <a class="text-decoration-none text-warning fw-bold" href="{% url "sign_up" %}"> SIGN UP</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock  %}