{% extends "account.html" %}
{% block title %}Account | Sign In{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
  <div class="sign-in-section">
    <div class="sign-in">
      <h5>SIGN IN</h5>
      <form class="sign-in-form" action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <p class="forgot-password"><a href="{% url "sign_up" %}">Forgot Password?</a></p>
        <button class="btn btn-success fw-bold">Sign In</button>
        <p class="ms-2 my-2">New to TeeTrend? <a class="text-decoration-none text-warning fw-bold" href="{% url "sign_up" %}"> SIGN UP</a></p>
      </form>
    </div>
  </div>
</div>
{% endblock  %}