{% extends "account.html" %}
{% block title %}Account | verify otp{% endblock  %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<div class="container-fluid">
  <div class="verify-otp-section">
    <div class="verify-otp">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <form action="" method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary">Verify OTP</button>
      </form>
    </div>
  </div>
</div>
{% endblock  %}