{% extends "product_catalog.html" %}
{% block title %}Buy {{ tshirt.name }}{% endblock  %}
{% load static %}
{% block content %}
<div class="modal-body">
  <div class="wish-messages"></div>
</div>
<div class="tees-product-overview">
  <!-- Breadcrumb navigation for better user navigation -->
  <nav class="breadcrumb-base" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
      <li class="breadcrumb-item"><a href="{% url "tshirt_list" %}">T-Shirts</a></li>
      {% if category == 'Men T-Shirts' %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?category=MT">{{ category }}</a></li>
      {% endif %}
      {% if category == 'Women T-Shirts' %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?category=WT">{{ category }}</a></li>
      {% endif %}
      {% if category == 'Kids T-Shirts' %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?category=KT">{{ category }}</a></li>
      {% endif %}
      {% if category == 'Characters' %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?category=CT">{{ category }}</a></li>
      {% endif %}
      {% if subcategory %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?category=CT">{{ subcategory }}</a></li>
      {% endif %}
      {% if characters %}
        {% if marvel_subcategory %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?characters=MR">{{ characters }}</a></li>
        {% elif dc_comics_subcategory %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?characters=DC">{{ characters }}</a></li>
        {% elif movies_tv_subcategory %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?characters=MT">{{ characters }}</a></li>
        {% elif cartoons_anime_subcategory %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?characters=CA">{{ characters }}</a></li>
        {% elif web_series_subcategory %}
        <li class="breadcrumb-item"><a href="{% url 'tshirt_list' %}?characters=WS">{{ characters }}</a></li>
        {% endif %}
      {% endif %}
      {% if marvel_subcategory %}
        <li class="breadcrumb-item active">{{ marvel_subcategory }}</li>
      {% endif %}
      {% if dc_comics_subcategory %}
        <li class="breadcrumb-item active">{{ dc_comics_subcategory }}</li>
      {% endif %}
      {% if movies_tv_subcategory %}
        <li class="breadcrumb-item active">{{ movies_tv_subcategory }}</li>
      {% endif %}
      {% if cartoons_anime_subcategory %}
        <li class="breadcrumb-item active">{{ cartoons_anime_subcategory }}</li>
      {% endif %}
      {% if web_series_subcategory %}
        <li class="breadcrumb-item active">{{ web_series_subcategory }}</li>
      {% endif %}
      <li class="breadcrumb-item"><a href="{% url "tshirt_list" %}?title={{ tshirt.title }}">{{ tshirt.title }}</a></li>
      <li class="breadcrumb-item active">{{ tshirt.name }}</li>
    </ol>
  </nav>    
  <!-- Product catalog details section -->
  <div class="the-product-catalog">
    <!-- Desktop view of product images -->
    <div class="tees-desktop-view-product-images">
      <!-- Display images in rows with conditional rendering for each image -->
      <div class="tees-image-row">
        <!-- Display the images if available -->
        {% if tshirt.image %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image.url }}')">
        </div>
        {% endif %}
        {% if tshirt.image1 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image1.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image1.url }}')">
        </div>
        {% endif %}
      </div>
      <div class="tees-image-row">
        {% if tshirt.image2 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image2.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image2.url }}')">
        </div>
        {% endif %}
        {% if tshirt.image3 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image3.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image3.url }}')">
        </div>
        {% endif %}
      </div>
      <div class="tees-image-row">
        {% if tshirt.image4 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image4.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image4.url }}')">
        </div>
        {% endif %}
        {% if tshirt.image5 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image5.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image5.url }}')">
        </div>
        {% endif %}
      </div>
      <div class="tees-image-row">
        {% if tshirt.image6 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image6.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image6.url }}')">
        </div>
        {% endif %}
        {% if tshirt.image7 %}
        <div class="tees-images-col">
          <img class="tees-images" src="{{ tshirt.image7.url }}" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image7.url }}')">
        </div>
        {% endif %}
      </div>
    </div>
    <!-- The desktop view Modal -->
    <div id="myModal" class="tees-desktop-modal">
      <div class="tees-desktop-modal-content">
        <!-- The Thumbnails -->
        <div class="tees-desktop-modal-image-thumbnail">
          <!-- Thumbnail buttons for each image -->
          <!-- Check if image is available and create a button with the image -->
          {% if tshirt.image %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image.url }}">
          </button>
          {% endif %}
          {% if tshirt.image1 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image1.url }}">
          </button>
          {% endif %}
          {% if tshirt.image2 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image2.url }}">
          </button>
          {% endif %}
          {% if tshirt.image3 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image3.url }}">
          </button>
          {% endif %}
          {% if tshirt.image4 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image4.url }}">
          </button>
          {% endif %}
          {% if tshirt.image5 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image5.url }}">
          </button>
          {% endif %}
          {% if tshirt.image6 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image6.url }}">
          </button>
          {% endif %}
          {% if tshirt.image7 %}
          <button class="tees-desktop-modal-image-thumbnail-button">
            <img draggable="false" class="desktop-image-zoom-selected-thumbnail desktop-image-zoom-thumbnail" src="{{ tshirt.image7.url }}">
          </button>
          {% endif %}
        </div>
        <!-- The Image modal container -->
        <div class="tees-dessktop-modal-content-images">
          <!-- The Image -->
          <img class="tees-desktop-modal-image" id="img01">
        </div>
        <!-- The Close Button -->
        <span class="close"><i class="fa fa-window-close"></i></span>
      </div>
    </div>
    <!-- Mobile view of product images using a responsive carousel -->
    <div class="tees-mobile-view-product-images close-menu">
      <!-- Created a responsive carousel for displaying multiple images -->
      <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <!-- Carousel indicators for each image -->
        <div class="carousel-indicators">
          <!-- Conditional rendering of indicators based on available images -->
          {% if tshirt.image %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          {% endif %}
          {% if tshirt.image1 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          {% endif %}
          {% if tshirt.image2 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          {% endif %}
          {% if tshirt.image3 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
          {% endif %}
          {% if tshirt.image4 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
          {% endif %}
          {% if tshirt.image5 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
          {% endif %}
          {% if tshirt.image6 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
          {% endif %}
          {% if tshirt.image7 %}
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
          {% endif %}
        </div>
        <!-- Carousel inner container for the images -->
        <div class="carousel-inner">
          <!-- Conditional rendering of carousel items based on available images -->
          {% if tshirt.image %}
          <div class="carousel-item active">
            <img src="{{ tshirt.image.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image1 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image1.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image1.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image2 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image2.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image2.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image3 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image3.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image3.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image4 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image4.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image4.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image5 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image5.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image5.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image6 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image6.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image6.url }}')">
          </div>
          {% endif %}
          {% if tshirt.image7 %}
          <div class="carousel-item">
            <img src="{{ tshirt.image7.url }}" class="carousel-img" alt="{{ tshirt.name }}" onclick="openImage('{{ tshirt.image7.url }}')">
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <!-- Product overview details section -->
    <div class="tees-product-overview-details">
      <!-- Display product name and description -->
      <h5>{{ tshirt.title }}</h5>
      <p>{{ tshirt.name }}</p>
      <!-- Product ratings section -->
      <div class="product-ratings">
        <div class="ratings-value">
          <!-- Display product rating -->
          <p>4.3</p>
          <!-- Display a star icon for the rating -->
          <li class="rating-ov-star"><a class="fa fa-star" href="#"></a></li>
        </div>
        <!-- Divider between ratings and number of ratings -->
        <div class="col no-gutters" style="border-right:1px solid black"></div>
        <!-- Display the number of ratings -->
        <p class="no-of-ratings">253 Ratings</p>
      </div>
      <!-- Horizontal rule as a divider -->
      <hr class="dropdown-divider">
      <!-- Product price details section -->
      <div class="product-ov-price-details">
        <!-- Display product price, MRP, and discount -->
        <div class="price-ov">
          <p class="product-ov-price">&#8377;{{ tshirt.price }}</p>
          <p class="product-ov-retail-price">MRP <del>1400</del></p>
          {% if tshirt.discount %}
          <p class="product-ov-discount">({{ tshirt.discount }}% OFF)</p>
          {% endif %}
        </div>
        <!-- Display information about taxes -->
        <p class="taxes">inclusive of all taxes</p>
      </div>
      <div class="wishcart-ov-div">
        <div class="wishlist-ov-div">
          {% if 'user_id' in request.session %}
          <div class="product-ov-wishlist js-wishlist-tsm" data-tshirt-id="{{ tshirt.id }}" data-title="{{ tshirt.title }}" data-name="{{ tshirt.name }}" data-category="{{ tshirt.category }}">
            <!-- Heart icon for wishlist -->
            <span class="ds-wish-icon-1"><i id="ds-wishlist-icon-{{ tshirt.id }}" class="far fa-heart ds-wishlist-icon-1" data-tshirt-id="{{ tshirt_id }}"></i></span>
            <span class="ds-wish-icon-2" style="display: none;"><i id="ds-wishlist-icon-{{ tshirt.id }}" class="fas fa-heart ds-wishlist-icon-2" data-tshirt-id="{{ tshirt_id }}"></i></span>
            <span class="ds-wish-txt">Wishlist</span>
          </div>
          {% else %}
          <div class="product-ov-user-wishlist js-wishlist-tsm" onclick="window.open('{% url "sign_in" %}')">
            <!-- Heart icon for wishlist -->
            <span class="ds-user-wish-icon-1"><i id="ds-wishlist-icon-{{ tshirt.id }}" class="far fa-heart ds-wishlist-icon-1" data-tshirt-id="{{ tshirt_id }}"></i></span>
            <span class="ds-user-wish-txt">Wishlist</span>
          </div>
          {% endif %}
        </div>
        <div class="cart-ov-div">
          {% if 'user_id' in request.session %}
          <div class="product-ov-cart js-cart-tsm" data-tshirt-id="{{ tshirt.id }}" data-title="{{ tshirt.title }}" data-name="{{ tshirt.name }}" data-category="{{ tshirt.category }}">
            <!-- Bag icon for cart -->
            <div class="add-to-bag">
              <span class="ds-cart-icon"><i id="ds-cart-icon-{{ tshirt.id }}" class="fas fa-shopping-bag" data-tshirt-id="{{ tshirt_id }}"></i></span>
              <span class="ds-cart-txt">Add to Cart</span>
            </div>
          </div>
          {% else %}
          <div class="product-ov-user-cart js-cart-tsm" onclick="window.open('{% url "sign_in" %}')">
            <!-- Bag icon for cart -->
            <div class="add-to-bag">
              <span class="ds-user-cart-icon"><i id="ds-cart-icon-{{ tshirt.id }}" class="fas fa-shopping-bag" data-tshirt-id="{{ tshirt_id }}"></i></span>
              <span class="ds-user-cart-txt">Add to Cart</span>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock  %}